<div class="main">
  <div class="main__youtube">
    <p class="main__youtube__text">
      Youtubeの動画を中心に最新の話題動画を集めたキュレーションメディアです。<br>ログインしていただければ、投稿一覧にてユーザー同士でオススメ動画の情報など共有することができます。
    </p>
    <% @youtube_data.items.each do |item| %>
      <% snippet = item.snippet %>
      <p><%= snippet.title %></p>
      <p><%= snippet.channel_title %></p>
      <div><iframe width="560" height="330" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <% end %>
  </div>
  <div class="main__image">
    <p class="main__image__attention">
      注目動画
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Wt1QA_Uhyao" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="main__image__title">
      Pick up 記事
    </p>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://news.yahoo.co.jp/pickup/6353000"target="_blank">新型肺炎、国内感染者1000人に</a>
    </div>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://news.yahoo.co.jp/pickup/6352995"target="_blank">マスク譲り立ち去る　女性感謝</a>
    </div>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://www3.nhk.or.jp/news/html/20200304/k10012312771000.html?utm_int=news_contents_news-main_005"target="_blank">米大統領　日本も渡航制限の可能性示唆</a>
    </div>
  </div>
</div>

<div class="footer">
  <p class="footer__text">
  by.Y
  </p>
</div>