<div class="main">
  <div class="main__youtube">
    <% @youtube_data.items.each do |item| %>
      <% snippet = item.snippet %>
      <p><%= snippet.title %></p>
      <p><%= snippet.channel_title %></p>
      <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <% end %>
  </div>
  <div class="main__image">
    <p class="main__image__attention">
      注目動画
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZcJ_hYLVaUY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="main__image__title">
      Pick up 記事
    </p>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://tech-camp.in/expert"target="_blank">TECH::EXPERTホームページ</a>
    </div>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://r25.jp/article/717625855190518371"target="_blank">マコなり社長、マコなり社長コラボ記事</a>
    </div>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://tech-camp.in/note/"target="_blank">TECH::NOTEホームページ</a>
    </div>
  </div>
</div>

<div class="footer">
  <p class="footer__text">
  by.Y
  </p>
</div>