<div class="main">
  <div class="main__youtube">
    <% @youtube_data.items.each do |item| %>
      <% snippet = item.snippet %>
      <p><%= snippet.title %></p>
      <p><%= snippet.channel_title %></p>
      <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <% end %>
  </div>
  <div class="main__image">
    <p class="main__image__attention">
      注目動画
    </p>
    <iframe width="560" height="330" src="https://www.youtube.com/embed/2Zjp-vYV-Jk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="main__image__title">
      Pick up 記事
    </p>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://www3.nhk.or.jp/news/html/20200302/k10012309571000.html?utm_int=news-ranking_access_list-items_006"target="_blank">南海トラフ地震　津波浸水想定エリアで起きていること</a>
    </div>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://www3.nhk.or.jp/news/html/20200302/k10012310301000.html?utm_int=news-ranking_access_list-items_010"target="_blank">日本人をからかい暴行の疑い　パレスチナ人逮捕　現地警察</a>
    </div>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://www3.nhk.or.jp/news/html/20200303/k10012312371000.html?utm_int=news-ranking_access_list-items_020"target="_blank">Ｇ７が声明発表 新型ウイルス対応「すべての適切手段用いる」</a>
    </div>
  </div>
</div>

<div class="footer">
  <p class="footer__text">
  by.Y
  </p>
</div>