<div class="main">
  <div class="main__youtube">
    <% @youtube_data.items.each do |item| %>
      <% snippet = item.snippet %>
      <p><%= snippet.title %></p>
      <p><%= snippet.channel_title %></p>
      <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <% end %>
  </div>
  <div class="main__image">
    <p class="main__image__attention">
      注目動画
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2Zjp-vYV-Jk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="main__image__title">
      Pick up 記事
    </p>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://headlines.yahoo.co.jp/hl?a=20200205-00000027-mai-soci"target="_blank">食事遅れ水でしのぐ　クルーズ乗客14日間待機</a>
    </div>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://headlines.yahoo.co.jp/hl?a=20200205-00000087-kyodonews-soci"target="_blank">クルーズ船運営会社が感染者10人の国籍公表</a>
    </div>
    <div class="main__image__box">
      <a class="main__image__box__link" href="https://headlines.yahoo.co.jp/hl?a=20200204-00010006-fnnprimev-soci"target="_blank">マスク求め客が殺到　本当に足りないの？</a>
    </div>
  </div>
</div>

<div class="footer">
  <p class="footer__text">
  by.Y
  </p>
</div>